<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add   name="CO_STOCK_SERVICE_ConnectionString"   connectionString="Data Source=BORA-KASMER2\MSSQLSERVER_KOK;Initial Catalog=AdServerV2;Persist Security Info=false;Integrated Security=true; Connection Timeout=240; Application Name={0}" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>