<div class="jumbotron">
    
    
        <p class="alert alert-success">Stock is added </p>
        <p><a href="/Stock/AddStock">[ Add new stock ]</a>
    &nbsp;&nbsp;&nbsp;<a href="/Stock/StockList">[ Stock list ]</a></p>

</div>

