@using fields
@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>STOCKS CENTER</h1>
        @if (Current.User != null)
        {
            <p class="lead">Welcome @Current.User.userName,you can add new stock,see your stock list</p>
        }
        else
        {
<p class="lead">Stock center,membership,login </p>
    }
    
</div>

 