@using model.viewModel
@model loginRegisterViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table style="width:100%;">
    <tr>
        <td style="width:46%;" valign="top">@Html.Partial("_LoginPartial", new loginViewModel())</td>
        <td style="width:8%;"></td>
        <td style="width:46%;">
        
        @Html.Partial("_RegisterPartial", new registerViewModel())</td>
    </tr>
    <tr>
        <td colspan="3" align="center">
            <p>
                @Html.ActionLink("Register as a new user", "Register")
            </p>
            @* Enable this once you have account confirmation enabled for password reset functionality *@
            <p>
                @Html.ActionLink("Forgot your password?", "ForgotPassword")
            </p>

        </td>    
    </tr>
</table>