@using fields
<div class="jumbotron">
    <h1>STOCKS CENTER</h1>
   @switch (Request.QueryString["code"])
   {
       case MessageCodes.Stock_Ticker_Settings_Are_Saved:
           {
            <p class="lead">Stock ticker settings are saved</p>
               break;
           }
       default: break;
   }
</div>

