@using fields
<div class="jumbotron">
    <h1>STOCKS CENTER</h1>
   @switch (Request.QueryString["code"])
   {
       case MessageCodes.Stock_Ticker_Settings_Are_Saved:
           {
            <p class="alert alert-success">Stock ticker settings are saved</p>
               break;
           }
       case MessageCodes.User_LoggedOut:
           {
            <p class="alert alert-success">You are logged out.You will be redirect to  home page in 3 second
    <script>setInterval("location.href='/Stock/Index'", 3000);</script></p>
               break;
           }
       default: break;
   }
</div>

