@using model.viewModel
@model stockSettingsViewModel
@{
    ViewBag.Title = "Stock List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script type="text/javascript">
    
    function getStockList() {
        $.ajax({
            type: 'get',
            dataType: 'json',
            cache: false,
            url: '/Stock/StockListJson',
            beforeSend: function () {
                $('#loadingImage').show();
            },
            complete: function () {
                $('#loadingImage').hide();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log("Request: " + XMLHttpRequest.toString() + "\n\nStatus: " + textStatus + "\n\nError: " + errorThrown);
            },
            success: function (result) {
                $('#divMyList').html("");

                var strResult = "";
                var data = result;
                strResult += "<table class='xtable'> <thead class='thead-inverse'><tr>";
                strResult += "<th>Code</th> <th>Name </th><th>Quantity </th><th>Price </th><th>Delete </th></tr></thead>";
                strResult += "<tbody>";
                for (var i = 0; i < data.length; i++) {
                    strResult += " <tr style='height:30px;'>";
                    strResult += "<td scope='row'>" + data[i]["code"] + "</td>";
                    strResult += "<td scope='row'>" + data[i]["name"] + "</td>";
                    strResult += "<td scope='row'>" + data[i]["quantity"] + "</td>";
                    strResult += "<td scope='row'>" + data[i]["price"] + "</td>";
                    strResult += "<td scope='row'><a href=\"javascript:deleteStock(" + data[i]["Id"] + ");\">[ Delete ]</a></td>";
                }
                strResult += "</tbody>";
                strResult += "</table>";
                $('#divMyList').append(strResult);
            }
        });
    }

    function getStockTicker() {
         
        $.ajax({
            type: 'get',
            dataType: 'json',
            cache: false,
            url: '/Stock/StockSettingsJson',
            success: function (result) {
                setInterval(' getStockList();', parseInt(result['ticker_minute'])*1000);
              //  console.log('getStockTicker ' + result['ticker_minute']);
              //  $('#hdnTickerMinute').val(result['ticker_minute']);
            }
        });
    }

    function deleteStock(Id) {

        $.ajax({
            type: 'get',
            dataType: 'json',
            cache: false,
            url: '/Stock/DeleteStock',
            data: {
                stockId: Id
            },
            beforeSend: function () {
                $('#loadingImage').show();
            },
            complete: function () {
                $('#loadingImage').hide();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log("Request: " + XMLHttpRequest.toString() + "\n\nStatus: " + textStatus + "\n\nError: " + errorThrown);
            },
            success: function (result) {
                if(result.result==1)
                    getStockList();
            }
        });
    }
  
    $(document).ready(function () {
        getStockTicker();
       

    });
</script>
<input type="hidden" id="hdnTickerMinute" value="0" />
<h2>StockList</h2>
<p>

    @Html.ActionLink("[ Add New Stock ]", "AddStock")

</p>
<center><img src="/Content/loading.gif" id="loadingImage" /></center>
<div style="overflow-x: hidden;  height:100%; " id="divMyList">
</div>

 

<p>

    @Html.ActionLink("[ Add New Stock ]", "AddStock") 

</p>

