body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.text-danger {
 color:red; font-weight:bold;
}

.col-md-2 control-label {

}



.xtable {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
}
xtable {
    border-collapse: collapse;
    background-color: transparent;
}
*, ::after, ::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
user agent stylesheet
xtable {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}


.xtable td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #eceeef;
}
th {
    text-align: left;
}
*, ::after, ::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
user agent stylesheet
th {
    font-weight: bold;
    text-align: -internal-center;
}
user agent stylesheet
td, th {
    display: table-cell;
    vertical-align: inherit;
}
Inherited from table.table.table-striped
xtable {
    border-collapse: collapse;
    background-color: transparent;
}


.alert-success {
    background-color: #dff8e3;
    border-color: #caf4ca;
    color: #4cd964;
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}